:root {
  --color-primary: #ffffff;
  --color-secondary: #f3c623;
  --color-hover-text: #ffdf6d;
  --color-background-light: #ffffff;
  --color-background-dark: #000000;
}

/* Base Styles */
body {
  font-family: "Cairo", sans-serif;
  background-color: black;
  color: var(--color-primary);
  margin: 0;
}

button {
  font-family: "Cairo", sans-serif;
}

/* Layout */
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.min-h-screen {
  min-height: 100vh;
}
.w-full {
  width: 100%;
}
.flex-col {
  flex-direction: column;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

.div-buttons {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

a {
  text-decoration: none;
}

.cta-button {
  display: flex;
  min-width: 120px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
  border: none;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: var(--color-secondary);
  color: black;
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.2s;
}
